<!DOCTYPE html>
<html>

<head>
    <title>Product form</title>
    <script src="js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/productForm.css" />
</head>

<body>
    <div id="contact-icon">
        <img src="./icon/icon-contact.png" alt="contact" height="50" width="50">
    </div>
    <!--Contact Form-->
    <div id="contact-popup">
        <form class="contact-form" action="/AjouterProduitconfirmer" th:object="${produit}" id="contact-form" method="get" enctype="multipart/form-data">
            <h1>Product information</h1>
            <div>
                <div>
                    <label>Product name: </label><span id="userName-info" class="info"></span>
                </div>
                <div>
                    <input type="text" id="userName" name="nomProduit" class="inputBox" placeholder="nom du produit" th:field="*{nomProduit}" />
                </div>
            </div>
            <div>
                <div>
                    <label>Prix: </label><span id="userEmail-info" class="info"></span>
                </div>
                <div>
                    <input type="text" class="inputBox" name="prix" placeholder="saisie le prix" th:field="*{prix}" />
                </div>
            </div>
            <div>
                <div>
                    <label>Quantite: </label><span id="subject-info" class="info"></span>
                </div>
                <div>
                    <input type="text" id="subject" class="inputBox" name="quantite" placeholder="saisie la quantite" th:field="*{quantite}" />
                </div>
            </div>
            <div>
                <div>
                    <label>Description: </label><span id="userMessage-info" class="info"></span>
                </div>
                <div>
                    <textarea id="message" class="inputBox" name="description" placeholder="Description" th:field="*{description}"></textarea>
                </div>
            </div>
            <div>
                <div>
                    <label>Save as: </label><span id="subject-info" class="info"></span>
                </div>
                <div>
                    <input type="file" name="photos" th:field="*{photos}" />
                </div>
            </div>
            <br>
            <br> Disponiblite :<select th:field="*{disponible}">
            <option value="true">True</option>
            <option value="false">False</option>
            </select>
            <br>
            <br>
<!--             <div> -->
<!--                 <div> -->
<!--                     <label>Categorie: </label><span id="userEmail-info" class="info"></span> -->
<!--                 </div> -->
<!--                 <div> -->
<!--                     <input type="text" class="inputBox" name="categorie" placeholder="Id categorie" th:field="*{categorie}" /> -->
<!--                 </div> -->
<!--             </div> -->
           
                 Nom categorie :<select th:field="*{categorie.idCategorie}">
                 <option   th:each=" rabat : ${nomcategorie}"  th:text="${rabat.nomCategorie}" th:value="${rabat.idCategorie}">
                 </option>

               </select>

            
            
            <br>
             <br>
              <br>
            <div>
                <input type="submit" id="send" name="send" value="Confirmer l'ajout" />
            </div>
            <div class="cancel">
                <div class="button"><a id="cancel" href="/AfficherListProduit">Cancel</a></div>
            </div>
        </form>
    </div>

    <div id="success">Add product</div>



    <script>
        $(document).ready(function() {
            $("#contact-icon").click(function() {
                $("#contact-popup").show();
            });
            //Contact Form validation on click event
            /* $("#contact-form").on("submit", function() {
                var valid = true;
                $(".info").html("");
                $("inputBox").removeClass("input-error");

                var userName = $("#userName").val();
                var userEmail = $("#userEmail").val();
                var subject = $("#subject").val();
                var message = $("#message").val();

                if (userName == "") {
                    $("#userName-info").html("required.");
                    $("#userName").addClass("input-error");
                }
                if (userEmail == "") {
                    $("#userEmail-info").html("required.");
                    $("#userEmail").addClass("input-error");
                    valid = false;
                }
                if (!userEmail.match(/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/)) {
                    $("#userEmail-info").html("invalid.");
                    $("#userEmail").addClass("input-error");
                    valid = false;
                }

                if (subject == "") {
                    $("#subject-info").html("required.");
                    $("#subject").addClass("input-error");
                    valid = false;
                }
                if (message == "") {
                    $("#userMessage-info").html("required.");
                    $("#message").addClass("input-error");
                    valid = false;
                }
                return valid; */

        });
        /* }); */
    </script>
</body>

</html>